# Enforce Unix newlines
* text=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
/examples
/tests                     export-ignore
/.editorconfig             export-ignore
/.gitattributes            export-ignore
/.gitignore                export-ignore
/phpcs.xml                 export-ignore
/phpunit.xml.dist          export-ignore
